<footer class="page-footer" style="background-color: #4c145f;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <blockquote>
        <h5 class="yellow-text">About BC Family Reunion here...</h5>
        <p class="yellow-text text-lighten-3"><%= lorem.sentences 5 %></p>
        </blockquote>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="yellow-text thin">Put Donate info here...</h5>
        <!-- <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color: #511566;">
    <div class="container">
    Made by <a class ="" href="http://www.mccloskey.me">Slingshot Design Works</a>
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
